<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>My account</h1>
    <h3>Username: <%= info.username %></h3>
    <h3>FirstName: <%= info.name.first%></h3>
    <h3>Lastname: <%= info.name.last %></h3>
    <h3>Gender: <%= info.info.gender %></h3>
</main>

<%- include('../component/footer.ejs'); %>