<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container user-profile">
    <section>
        <h1>Account</h1>

        <% if (sessionUser.info.image){ %>
        <img src="images/users/<%= sessionUser.info.image %>" alt="" class="profile-image">
        <% } else { %>
        <img src="images/users/profile-placeholder.jpg" alt="" class="profile-image">
        <% } %>

        <h2><%= sessionUser.user %>, <%= sessionUser.info.age %></h2>
        <h3 class="place"><img src="images/icons/place.svg" alt=""><%= sessionUser.info.place %></h3>

        <ul>
            <li><span>Geslacht:</span> <%= sessionUser.info.gender === 'male' ? 'man' : 'vrouw' %> </li>
            <% if (sessionUser.info.study){ %>
            <li><span>Studie:</span> <%= sessionUser.info.study %></li>
            <% } %>
            <% if (sessionUser.info.work){ %>
            <li><span>Werk:</span> <%= sessionUser.info.work %></li>
            <% } %>
            <li>Opzoek naar <%= sessionUser.preference.sex === 'male' ? 'mannen' : 'vrouwen' %>
                tussen de <span><%= sessionUser.preference.ageMin %></span> en
                <span><%= sessionUser.preference.ageMax %></span> jaar
            </li>
        </ul>

        <% if (sessionUser.info.additional){ %>
        <p><span>Dit wil ik nog kwijt over mijzelf.. </span><br>
            <%= sessionUser.info.additional %></p>
        <% } %>

        <h3>Favoriete films</h3>
        <ul>
            <% sessionUser.movies.forEach(function (movie) { %>
                <li><%= movie.name %></li>
            <% }) %>
        </ul>

        <p class="created">Aangemaakt op <%= sessionUser.info.accountCreated %></p>

        <a href="account-change" class="button">Gegevens aanpassen</a>

    </section>
</main>

<%- include('../component/footer.ejs'); %>