<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
        <p>Je hebt <%= data.length %> potentiele matches, <%= sessionUser.name.first %></p>

        <ul>
            <li><a href="chats">Gesprekken</a></li>
            <li class="tickets"><a href="tickets">Tickets</a></li>
        </ul>
        <div class="searchBar">
        <label for="searchItem">Zoek matches</label><input type="text" id="searchItem">
        </div>
    </div>
    <section class="dashboard">
        <% data.forEach(function (match) { %>
        <a href="user/<%= match._id %>" class="user-card" id="<%= match.user.toLowerCase() %>">
            <article>
                <% if (match.info.image){ %>
                <img src="images/users/<%= match.info.image %>" alt="">
                <% } else { %>
                <img src="images/users/profile-placeholder.jpg" alt="">
                <% } %>
                <section>
                    <h4><%= match.user %>, <%= match.info.age %></h4>
                    <% if (match.info.study){ %>
                    <h5 class="info-study"><%= match.info.study %></h5>
                    <% } if (match.info.work){ %>
                    <h5 class="info-study"><%= match.info.work %></h5>
                    <% } %>
                    <h5 class="info-place"><img src="images/icons/place.svg" alt=""><%= match.info.place %></h5>
                </section>
            </article>
        </a>
        <% }) %>
    </section>

</main>

<script src="main.js"></script>
<script src="searchmatch.js"></script>

<%- include('../component/footer.ejs'); %>
