<%- include('../component/head.ejs'); %>
<%- include('../component/header.ejs'); %>

<main class="container">
    <h1>Dashboard</h1>
    <br><br>
    <h1>Hello <%= user.username %></h1>
    <br><br>
    <h1>Males</h1>
    <% data.forEach(function (user) {  %>
    <% if (user.info.gender === 'male'){ %>
    <a href="user/<%= user._id %>">
        <h2><%= user.name.first %></h2>
        <h3><%= user.name.last %></h3>
    </a>
    <br>
    <% }}) %>

    <h1>Females</h1>
    <% data.forEach(function (user) {  %>
    <% if (user.info.gender === 'female'){ %>
    <a href="user/<%= user._id %>">
        <h2><%= user.name.first  %></h2>
        <h3><%= user.name.last  %></h3>
    </a>
    <br>
    <% }}) %>
    <br><br><br><br>
    <a href="account">Go to my account</a>
</main>

<script src="main.js"></script>

<%- include('../component/footer.ejs'); %>

